@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Private Notes</title>
    <link rel="stylesheet" href="../../css/styles-home.css">
</head>
<body>
    <div class="home-container">
        <div class="top-container">
            <div class="logo-container">
                <span class="logo-text">Private Notes</span>
                <br>
                <span class="header-text">Keeps your notes hidden</span>
            </div>
        </div>
        <div class="bottom-container">
            <div class="button-container">
                <a class="login-button" href="/home/login">Login</a>
            </div>
            <div class="button-container">
                <a class="signup-button" href="/home/signup">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>