@{
    string warningText = (string)ViewData["Warning"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Private Notes</title>
    <link rel="stylesheet" href="../../css/styles-login-signup.css">
</head>
<body>
    <div class="home-container">
        <div class="login-container">
            <form action="/home/signup" method="post">
                <input type="text" placeholder="Username" name="username" required>
                <br>
                <input type="password" placeholder="Password" name="password" required>
                <br>
                <span class="warning-text">@warningText</span>
                <br><br>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>