@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Note - Private Notes</title>
    <link rel="stylesheet" href="../../css/styles-create-edit.css">
</head>
<body>
    <div class="home-container">
        <div class="create-container">
            <form action="/notes/create" method="post">
                <input type="text" placeholder="Title" name="title" required>
                <br>
                <input type="text" placeholder="Description" name="description" required>
                <br><br>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</body>
</html>